body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}



/* Intro */
.intro
{
	width: 100%;
	height: auto;
}

.logo
{
	width: 45%;
	margin: 40px auto;
}

.board__wrapper
{
	opacity: .6;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note__wrapper
{
	margin: 0 auto;
}

.note
{
	width: 150px;
	height: auto;
	position: absolute;
	margin-top: 10px;
}

.board
{
	width: 100%;
	height: auto;
}

.light 
{
	width: 100%;
	max-width: 1200px;
	height: auto;
	position: absolute;
	display: block;
	opacity: .5;
}



/* Description */
.description
{
	width: 100%;
	height: auto;
	margin-bottom: 300px;
}

.title
{
	font-weight: 400;
	font-size: 42px;
	color: white;
	margin-bottom: 200px;
}

.letter 
{
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;	
}

.letter__img
{
	width: 100%;
	height: auto;
	max-width: 1920px;
	position: absolute;
}

.letter__text
{
	font-family: 'Caveat', cursive;
	font-size: 30px;
	font-weight: 200;

	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
/*	padding-top: 80px;*/
}



/* Authors */
.authors:before
{
	content: "";
	display: block;
	margin: 0 auto 20px;
	width: 50%;
	height: 3px;
	background-color: white;
}

.authors
{
	color: white;
	margin: 0 auto;
}



@media(max-width: 1200px)
{
	p
	{
		line-height: 35px;
	}



	/* Description */
	.description
	{
		margin-bottom: 150px;
	}

	.title
	{
		font-size: 40px;
	}

	.letter__text
	{
		max-width: 650px;
		font-size: 24px;	
	}



	/* Authors */
	.authors
	{
		font-size: 12px;
	}
}

@media(max-width: 990px)
{
	p
	{
		line-height: 25px;
	}



	/* Intro */
	.logo
	{
		margin-bottom: 30px;
	}

	.note
	{
		width: 100px;
	}



	/* Description */
	.title
	{
		margin-bottom: 150px;
	}

	.letter__text
	{
		max-width: 450px;
    	font-size: 20px;	
	}



	/* Authors */
	.authors
	{
		font-size: 10px;
	}
}

@media(max-width: 770px)
{
	p
	{
		line-height: 15px;
	}


	
	/* Intro */
	.logo
	{
		margin-bottom: 20px;
	}
	


	/* Description */
	.description
	{
		margin-bottom: 120px;
	}

	.title
	{
		font-size: 30px;
		margin-bottom: 100px;
	}

	.letter__text
	{
		max-width: 350px;
    	font-size: 18px;	
	}



	/* Authors */
	.authors
	{
		font-size: 8px;
	}
}


@media(max-width: 575px)
{
	p
	{
		line-height: 9px;
	}
	


	/* Intro */
	.logo
	{
		margin-bottom: 20px;
	}

	.note
	{
		width: 50px;
		margin-top: 2px;
	}
	


	/* Description */
	.description
	{
		margin-bottom: 50px;
	}

	.title
	{
		font-size: 20px;
		margin-bottom: 90px;
	}

	.letter__text
	{
		max-width: 200px;
    	font-size: 10px;	
	}



	/* Authors */
	.authors
	{
		font-size: 6px;
	}
}