body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

/* Intro */
.intro
{
	width: 100%;
	height: 100%;
}

.logo
{
	width: 45%;
	margin: 40px auto;
}

.board__wrapper
{
	background-color: #000;
	opacity: .6;
}

.board
{
	width: 100%;
	height: 100%;
}

/* Description */
.description
{
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

.title
{
	font-weight: 400;
	font-size: 42px;
	color: white;
}

.letter
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.letter__text
{
	font-family: 'Caveat', cursive;
	font-size: 36px;
	font-weight: 200;

	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}