body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}



/* Intro */
.intro
{
	width: 100%;
	height: auto;
}

.logo
{
	width: 45%;
	margin: 40px auto;
}

.board__wrapper
{
	background-color: #000;
	opacity: .6;
}

.note
{
	width: 13%;
	position: absolute;
	margin-left: 10px;
}

.board
{
	width: 100%;
	height: auto;
}



/* Description */
.description
{
	width: 100%;
	height: auto;
	margin-bottom: 300px;
}

.title
{
	font-weight: 400;
	font-size: 42px;
	color: white;
}

.letter
{
	width: 100%;
	height: auto;
	position: absolute;
}

.letter__text
{
	font-family: 'Caveat', cursive;
	font-size: 30px;
	font-weight: 200;

	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}



/* Authors */
.authors:before
{
	content: "";
	display: block;
	margin: 0 auto 20px;
	width: 50%;
	height: 3px;
	background-color: white;
}

.authors
{
	color: white;
	margin: 0 auto;
}



@media(max-width: 1200px)
{
	p
	{
		line-height: 35px;
	}



	/* Description */
	.description
	{
		margin-bottom: 150px;
	}

	.title
	{
		font-size: 40px;
	}

	.letter__text
	{
		max-width: 650px;
		font-size: 24px;	
	}



	/* Authors */
	.authors
	{
		font-size: 12px;
	}
}

@media(max-width: 990px)
{
	p
	{
		line-height: 25px;
	}



	/* Intro */
	.logo
	{
		margin-bottom: 30px;
	}



	/* Description */
	.letter__text
	{
		padding-top: 40px;
		max-width: 450px;
    	font-size: 20px;	
	}



	/* Authors */
	.authors
	{
		font-size: 10px;
	}
}

@media(max-width: 770px)
{
	p
	{
		line-height: 15px;
	}


	
	/* Intro */
	.logo
	{
		margin-bottom: 20px;
	}
	


	/* Description */
	.description
	{
		margin-bottom: 120px;
	}

	.title
	{
		font-size: 30px;
	}

	.letter__text
	{
		padding-top: 15px;
		max-width: 250px;
    	font-size: 12px;	
	}



	/* Authors */
	.authors
	{
		font-size: 8px;
	}
}


@media(max-width: 575px)
{
	p
	{
		line-height: 9px;
	}
	


	/* Intro */
	.logo
	{
		margin-bottom: 20px;
	}
	


	/* Description */
	.description
	{
		margin-bottom: 50px;
	}

	.title
	{
		font-size: 20px;
	}

	.letter__text
	{
		padding-top: 5px;
		max-width: 150px;
    	font-size: 8px;	
	}



	/* Authors */
	.authors
	{
		font-size: 6px;
	}
}