body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	height: auto;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

img
{
	pointer-events: none;
}

a
{
	text-decoration: none;
	color: black;
	transition: color ease .3s;
}

.chanel__item a
{
	color: #720000; 
	font-weight: 500; 
	text-transform: uppercase;
}

.chanel__item a:hover
{
	color: #c43324;
}


/* Nav */
.nav
{
	display: none;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 25%;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 100;
	padding: 50px 40px;
	background-color: #1a1a1a;
	color: white;
	opacity: 0.8;

	animation: burgerAnimation 0.4s ease;
}

.nav ul
{
	list-style: none;
	flex-direction: column;
	row-gap: 30px;
	font-size: 40px;
	opacity: 1;
}

a
{
	text-decoration: none;
	color: inherit;
}

.nav ul li
{
	transition: all 0.5s ease;
}

.nav ul li:hover
{
	transform: translateY(-10px);
}

.current
{
	color: #720000;
}

.open
{
	display: flex !important;
}

.burger
{
	display: flex;
	z-index: 100;
	position: fixed;
	align-items: center;
	width: 40px;
	height: 30px;
	top: 30px;
	left: 30px;
}

.burger span
{
	height: 5px;
	width: 100%;
	transform: scale(1);
	background-color: white;
}

.burger:before, .burger:after
{
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: white;
	transition: all 0.3s ease;
}

.burger:before
{
	top: 0;
}

.burger:after
{
	bottom: 0;
}

.burger.active span
{
	transform: scale(0);
}

.burger.active:before
{
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger.active:after
{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}


/* Intro */
.intro
{
	width: 100%;
	height: auto;
	margin-bottom: 60px;
}

.logo
{
	width: 45%;
	margin: 40px auto 0;
	display: block;
}

.logo img
{
	max-width: 100%;
}

.header
{
	position: relative;
	width: 100%;
}

.header__main_pic
{
	width: 60%;
	z-index: 2;
}

.header__paper_pic
{
	width: 40%;
	position: absolute;
	right: 0;
	z-index: -1;
}

.header__police_pic
{
	width: 25%;
	position: absolute;
	left: 10%;
	bottom: -5%;
	transform: rotate(-20deg);
}

.header h2
{
	position: absolute;
	font-weight: 500;
	font-size: 35px;
	max-width: 300px;
	top: 7%;
	left: 58%;
}

.header h1
{
	position: absolute;
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	max-width: 300px;
	top: 35%;
	left: 40%;
	
}

/* Chanels */
.chanel__item
{
	position: relative;
	width: 100%;
	height: 800px;
	transform: translateY(200px);
	opacity: 0;
}

.chanel__item.element-show
{
	transition: all 0.5s ease;
	transform: translateY(0);
	opacity: 1;
}

.chanel__item__note
{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	transform: rotate(15deg);
	z-index: -2;
}

.chanel__item__title
{
	position: absolute;
	width: 50%;
	left: 25%;
	z-index: -1;
}

.chanel__item h1
{
	position: absolute;
	width: 600px;
	margin-top: 10%;
	left: 28%;
	font-size: 40px;
}

.chanel__item__photo
{
	position: absolute;
	left: 0;
	margin-top: 17%;
	width: 50%;
}

.chanel__item__picture
{
	position: absolute;
	left: 14.5%;
	margin-top: 21.5%;
	width: 50%;
	max-width: 250px;
}

.chanel__item__letter
{
	position: absolute;
	right: 0;
	margin-top: 17%;
	width: 50%;	
}

.chanel__item p
{
	position: absolute;
	max-width: 500px;
	margin-top: 20%;
	left: 52%;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
}



@media(max-width: 1200px)
{
	.intro
	{
		margin-bottom: 7%;
	}

	.logo
	{
		margin-top: 2vw;
	}

	.header h2
	{
		font-size: 3vw;
		max-width: 10vw;
		top: 1.5vw;
	}

	.header h1
	{
		font-size: 3vw;
		line-height: 3vw;
		max-width: 30vw;
		left: 37vw;
	}

	/* Chanels */
	.chanel__item
	{
		height: 60vw;
	}

	.chanel__item h1
	{
		left: 38vw;
		font-size: 3vw;
		max-width: 25vw;
	}

	.chanel__item__picture
	{
		max-width: 19vw;
	}

	.chanel__item p
	{
		max-width: 42vw;
		font-size: 2vw;
		line-height: 2.7vw;
	}
}