body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
	background-image: url("../../resources/png/galery/Background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}

*
{
	cursor: url("../../resources/cursor/cursor.png") 2 2, default;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

img
{
	pointer-events: none;
}



/* Nav */
.nav
{
	display: none;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 25%;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 100;
	padding: 50px 40px;
	background-color: #1a1a1a;
	color: white;
	opacity: 0.8;

	animation: burgerAnimation 0.4s ease;
}

.nav ul
{
	list-style: none;
	flex-direction: column;
	row-gap: 30px;
	font-size: 40px;
	opacity: 1;
}

a
{
	text-decoration: none;
	color: inherit;
}

.nav ul li
{
	transition: all 0.5s ease;
}

.nav ul li:hover
{
	transform: translateY(-10px);
}

.current
{
	color: #720000;
}

.open
{
	display: flex !important;
}

.burger
{
	display: flex;
	z-index: 100;
	position: fixed;
	align-items: center;
	width: 40px;
	height: 30px;
	top: 30px;
	left: 30px;
}

.burger span
{
	height: 5px;
	width: 100%;
	transform: scale(1);
	background-color: white;
}

.burger:before, .burger:after
{
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: white;
	transition: all 0.3s ease;
}

.burger:before
{
	top: 0;
}

.burger:after
{
	bottom: 0;
}

.burger.active span
{
	transform: scale(0);
}

.burger.active:before
{
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger.active:after
{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}



.logo
{
	width: 35%;
	margin: 40px auto 0;
	display: block;
}

.logo img
{
	max-width: 100%;
}

.title
{
	position: relative;
}

.title__picture
{
	width: 100%;
	height: auto;
	max-width: 700px;
}

.title__caption
{
	position: absolute;
	top: 40%;
	left: 43%;
	font-size: 40px;
}



/* item */
.item
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	opacity: 0;
	transform: translateY(150px);
}

.item.element-show
{
	transition: all 0.5s ease;
	opacity: 1;
	transform: translateY(0);
}

.item__picture
{
	width: 50%;
	position: relative;
}

.item__pic
{
	width: 60%;
	margin-top: 20px;
}

.item__pic__inner
{
	position: absolute;
	width: 80%;
	max-width: 338px;
	top: 9.5%;
	left: 24.1%;
}

.item__picture__caption
{
	position: absolute;
	width: 380px;
	top: 80%;
	left: 21%;
	font-family: 'Caveat', cursive;
	font-size: 50px;
}

.item__description
{
	width: 50%;
	position: relative;
}

.item__description__pic
{
	width: 100%;
}

.item__description_text
{
	max-width: 350px;
	position: absolute;
	top: 10%;
	left: 16%;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	text-align: left;
	line-height: 30px;
}

@media(max-width: 1200px)
{
	.logo
	{
		margin-top: 2vw;
	}

	.title__picture
	{
		max-width: 55vw;
	}

	.title__caption
	{
		left: 43vw;
		font-size: 3vw;
	}

	/* Item */
	.item__pic
	{
		margin-top: 2vw;
	}
	.item__pic__inner
	{
		max-width: 26vw;
		top: 4vw;
		left: 12vw;
	}

	.item__picture__caption
	{
		width: 30vw;
		top: 80%;
		left: 10vw;
		font-size: 4vw;
	}

	.item__description_text
	{
		max-width: 30vw;
		left: 8vw;
		font-size: 2.5vw;
		line-height: 2.5vw;
	}
}