@keyframes burgerAnimation
{
	0%
	{
		opacity: 0;
		width: 0;
	}
}

body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

img
{
	pointer-events: none;
}



/* Nav */
.nav
{
	display: none;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 25%;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 100;
	padding: 50px 40px;
	background-color: #1a1a1a;
	color: white;
	opacity: 0.8;

	animation: burgerAnimation 0.4s ease;
}

.nav ul
{
	list-style: none;
	flex-direction: column;
	row-gap: 30px;
	font-size: 40px;
	opacity: 1;
}

a
{
	text-decoration: none;
	color: inherit;
}

.nav ul li
{
	transition: all 0.5s ease;
}

.nav ul li:hover
{
	transform: translateY(-10px);
}

.current
{
	color: #720000;
}

.open
{
	display: flex !important;
}

.burger
{
	display: flex;
	z-index: 100;
	position: fixed;
	align-items: center;
	width: 40px;
	height: 30px;
	top: 30px;
	left: 30px;
}

.burger span
{
	height: 5px;
	width: 100%;
	transform: scale(1);
	background-color: white;
}

.burger:before, .burger:after
{
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: white;
	transition: all 0.3s ease;
}

.burger:before
{
	top: 0;
}

.burger:after
{
	bottom: 0;
}

.burger.active span
{
	transform: scale(0);
}

.burger.active:before
{
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger.active:after
{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}



/* Intro */
.intro
{
	width: 100%;
	height: auto;
}

.logo
{
	width: 45%;
	margin: 40px auto;
}

.board__wrapper
{
	opacity: .6;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note__wrapper
{
	margin: 0 auto;
}

.note
{
	width: 100%;
	height: auto;
	max-width: 150px;
	position: absolute;
	z-index: 3;
}

.board
{
	width: 100%;
	height: auto;
	max-width: 1200px;
}

.picture
{
	width: 100%;
	height: auto;
	max-width: 200px;
/*	position: absolute;*/
	z-index: 1;
}

.cases:hover
{
	transform: translate3d(-170%, -75%, 0px);
}

.cases
{
	transition: transform linear .2s;
	display: block;
	width: 200px;
	height: 240px;
	position: absolute;
	transform: translate3d(-165%, -70%, 0px);
}

.gallery:hover
{
	transform: translate3d(135%, -105%, 0px);
}

.gallery
{
	transition: transform linear .2s;
	display: block;
	width: 200px;
	height: 240px;
	position: absolute;
	transform: translate3d(140%, -100%, 0px);
}

.channels:hover
{
	transform: translate3d(0, 45%, 0px);
}

.channels
{
	transition: transform linear .2s;
	display: block;
	width: 200px;
	height: 240px;
	position: absolute;
	transform: translate3d(5%, 50%, 0px);	
}

.strings
{
	width: 100%;
	height: auto;
	max-width: 1200px;
	position: absolute;
	z-index: 2;
}

.light 
{
	width: 100%;
	max-width: 1200px;
	height: auto;
	position: absolute;
	display: block;
	opacity: .5;
	z-index: 3;
}



/* Description */
.description
{
	width: 100%;
	height: auto;
	margin-bottom: 15vw;
}

.title
{
	font-weight: 400;
	font-size: 42px;
	color: white;
	margin-bottom: 12vw;
}

.letter 
{
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter__left__img
{
	width: 60%;
	height: auto;
	max-width: 1200px;
	position: absolute;
	left: 30%;
	opacity: 0;
	z-index: -1;
	transition: all 1.5s ease;
/*	animation: slideToLeft 1s ease-in;*/
}

.letter__left__img.element-show
{
	left: 0;
	opacity: 1;
}

.letter__main__img
{
	width: 70%;
	height: auto;
	max-width: 1200px;
	position: absolute;
	opacity: 0;
	transition: all 0.8s ease;
}

.letter__main__img.element-show
{
	opacity: 1;
}

.letter__right__img
{
	width: 50%;
	height: auto;
	max-width: 1200px;
	position: absolute;
	right: 30%;
	opacity: 0;
	z-index: -1;
	transition: all 1.5s ease;
/*	animation: slideToRight 1s ease-in;*/
}

.letter__right__img.element-show
{
	right: 0;
	opacity: 1;
}

.letter__text
{
	font-family: 'Caveat', cursive;
	font-size: 30px;
	font-weight: 200;

	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	transition: all 0.9s ease;
/*	padding-top: 80px;*/
}

.letter__text.element-show
{
	opacity: 1;
}



/* Authors */
.authors:before
{
	content: "";
	display: block;
	margin: 0 auto 1vw;
	width: 50%;
	height: 0.2vw;
	background-color: white;
}

.authors
{
	color: white;
	margin: 0 auto;
}



@media(max-width: 1200px)
{
	p
	{
		line-height: 3vw;
	}



	/* Intro */
	.logo
	{
		margin-top: 2vw;
		margin-bottom: 2vw;
	}

	.note 
	{
		max-width: 13vw;
	}

	.picture
	{
		max-width: 16.7vw;
		max-height: 20vw;
	}

	.cases
	{
		width: 16.7%;
		height: auto;
		transform: translate3d(-27vw, -65%, 0px);
	}

	.gallery
	{
		width: 16.7%;
		height: auto;
		transform: translate3d(23vw, -100%, 0px);
	}

	.channels
	{
		width: 16.7%;
		height: auto;
		transform: translate3d(0, 50%, 0px);	
	}



	/* Description */
	.title
	{
		font-size: 3vw;
		margin-bottom: 10vw;
	}

	.letter__text
	{
		max-width: 50vw;
		font-size: 2vw;	
	}



	/* Authors */
	.authors
	{
		font-size: 1vw;
	}
}