body
{
	margin: 0;
	background-color: black;
	font-family: 'Spectral SC', serif;
	font-size: 14px;
	line-height: 1.6;
	color: black;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.container
{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

p
{
	text-indent: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

img
{
	pointer-events: none;
}



/* Intro */
.intro
{
	width: 100%;
	height: auto;
	margin-bottom: 300px;
}

.logo
{
	width: 40%;
	margin: 40px auto 0;
	display: block;
}

.logo img
{
	max-width: 100%;
}

.header
{
	position: relative;
	width: 100%;
}

.title__paper
{
	position: absolute;
	width: 25%;
	left: 10%;
}

.title__picture
{
	position: absolute;
	width: 60%;
	left: 20%;
	z-index: 1;
}

.header h1
{
	position: absolute;
	left: 32%;
	font-size: 70px;
	z-index: 2;
}

.title__letter
{
	position: absolute;
	width: 30%;
	margin-top: -5%;
	right: 10%;
}

/* Search */
.search
{
	background-image: url("../../resources/png/Search/Background.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 20vh;
}

.search input
{
	width: 100%;
	max-width: 1200px;
	height: 40px;
	border: none;
	background-color: #1a1a1a;
	font-size: 25px;
	color: white;
}

@media(max-width: 1200px)
{
	.intro
	{
		margin-bottom: 23%;
	}

	.logo
	{
		margin-top: 2vw;
	}

	.header h1
	{
		font-size: 5.7vw;
	}
}